html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

div:before, div:after {
  content: '';
  display: block;
  position: absolute; }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  .centered > div {
    display: inline-block; }

.word > div {
  display: inline-block; }

.letter-c-capital {
  width: 90px;
  height: 90px;
  position: relative;
  top: -9px;
  margin-left: -35px; }
  .letter-c-capital:before {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 80px 50px, transparent 21px, #0d94d2 21px, #0d94d2 35px, transparent 1px);
    -webkit-transform: rotate(31deg);
    transform: rotate(31deg); }
  .letter-c-capital:after {
    border-style: solid;
    border-width: 13px 0px;
    border-color: transparent;
    border-top-color: #0d94d2;
    width: 20px;
    bottom: -24px;
    margin-left: 63px;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg); }

.letter-e {
  width: 48px;
  height: 70px;
  position: relative;
  left: 3px;
  background: radial-gradient(circle at bottom, transparent 12px, #0d94d2 12px, #0d94d2 24px, transparent 1px), linear-gradient(to bottom, transparent 30px, transparent 60px, #0d94d2 60px, #0d94d2 70px);
  background-position: 0px -22px,-2px -14px; }
  .letter-e:before {
    top: -25px;
    left: -52px;
    width: 90px;
    height: 90px;
    background: radial-gradient(circle at 82px 48px, transparent 12px, #0d94d2 12px, #0d94d2 24px, transparent 1px);
    transform: rotate(31deg);
    -webkit-transform: rotate(31deg);
    margin-top: 7px; }
  .letter-e:after {
    top: 70px;
    left: 18px;
    border-style: solid;
    border-width: 11px 0px;
    border-color: transparent;
    border-top-color: #0d94d2;
    width: 18px;
    margin-top: -9px;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg); }

.letter-r {
  width: 35px;
  height: 49px;
  position: relative;
  top: 3px;
  background: linear-gradient(to right, #0d94d2 13px, transparent 13px);
  background-position: 7px; }
  .letter-r:before {
    width: 42px;
    height: 49px;
    background: radial-gradient(circle at bottom right, transparent 14px, #0d94d2 14px, #0d94d2 20px, transparent 20px);
    background-position: -8px -22px; }
  .letter-r:after {
    width: 42px;
    height: 49px;
    background: radial-gradient(circle at bottom right, transparent 8px, #0d94d2 8px, #0d94d2 15px, transparent 15px);
    background-position: -8px -34px; }

.letter-n {
  width: 50px;
  height: 49px;
  position: relative;
  top: 3px;
  left: -2px;
  background: linear-gradient(to right, #0d94d2 13px, transparent 13px), radial-gradient(circle at left bottom, transparent 6px, #0d94d2 6px, #0d94d2 19px, transparent 19px);
  background-position: 7px, 30px -30px; }
  .letter-n:before {
    width: 42px;
    height: 49px;
    background: radial-gradient(circle at bottom right, transparent 11px, #0d94d2 11px, #0d94d2 20px, transparent 20px), radial-gradient(circle at bottom right, transparent 8px, #0d94d2 8px, #0d94d2 15px, transparent 15px);
    background-position: -11px -25px, -10px  -34px; }
  .letter-n:after {
    width: 13px;
    height: 49px;
    right: 1px;
    background: linear-gradient(to bottom, transparent 17px, #0d94d2 17px, #0d94d2 44px); }

.cerner-icon {
  width: 130px;
  height: 150px;
  position: relative; }
  .cerner-icon:before {
    width: 100%;
    height: 50px;
    left: -1px;
    top: 10px;
    border-bottom-left-radius: 26px 40px;
    transform: rotate(-4deg);
    background: radial-gradient(circle at 50px 68px, transparent 34px, #229fd5 34px, #229fd5 50px, transparent 50px); }
  .cerner-icon:after {
    width: 100%;
    height: 47px;
    left: -1px;
    bottom: 0px;
    border-top-left-radius: 12px 20px;
    transform: rotate(3deg);
    background: radial-gradient(circle at 50px -22px, transparent 34px, #229fd5 34px, #229fd5 50px, transparent 50px);
    background-position: 0 -46px; }
  .cerner-icon .cerner-icon-stripe-top {
    width: 103px;
    height: 29px;
    position: absolute;
    left: 13px;
    top: 62px;
    border-bottom-left-radius: 80px 70px;
    background: radial-gradient(circle at 40% -390px, transparent 400px, #90c83c 400px, #90c83c 416px, transparent 416px);
    background-position: 0 -4px; }
    .cerner-icon .cerner-icon-stripe-top:before {
      width: 50px;
      height: 30px;
      left: -19px;
      top: 2px;
      transform: rotate(35deg);
      background: radial-gradient(circle at center -1px, #90c83c 18px, transparent 1px);
      background-position: -5px 0; }
    .cerner-icon .cerner-icon-stripe-top:after {
      border: 12px solid transparent;
      border-bottom-color: #90c83c;
      top: -12px;
      right: -10px;
      transform: rotate(-53deg); }
    .cerner-icon .cerner-icon-stripe-top .cerner-icon-stripe-shade {
      transform: rotate(-50deg);
      left: -1px;
      top: -18px; }
      .cerner-icon .cerner-icon-stripe-top .cerner-icon-stripe-shade:after {
        left: -32px;
        top: 42px;
        width: 90px;
        height: 16px;
        transform: rotate(50deg); }

.cerner-icon .cerner-icon-stripe-bottom {
  width: 88px;
  height: 25px;
  position: absolute;
  left: 13px;
  top: 85px;
  border-top-left-radius: 20px 10px;
  z-index: 1;
  background: radial-gradient(circle at 50% -390px, transparent 400px, #90c83c 400px, #90c83c 415px, transparent 415px);
  background-position: 0 -6px; }
  .cerner-icon .cerner-icon-stripe-bottom:before {
    width: 50px;
    height: 30px;
    left: -28px;
    top: -4px;
    transform: rotate(138deg);
    z-index: 1;
    background: radial-gradient(circle at center 4px, #90c83c 14px, transparent 16px);
    background-position: -5px 0; }
  .cerner-icon .cerner-icon-stripe-bottom:after {
    border: 11px solid transparent;
    border-bottom-color: #90c83c;
    top: -10px;
    right: -9px;
    transform: rotate(-52deg); }
  .cerner-icon .cerner-icon-stripe-bottom .cerner-icon-stripe-shade {
    transform: rotate(40deg);
    left: 3px;
    top: 20px; }
    .cerner-icon .cerner-icon-stripe-bottom .cerner-icon-stripe-shade:after {
      width: 90px;
      height: 15px;
      left: -21px;
      top: -35px;
      transform: rotate(-40deg); }
.cerner-icon .cerner-icon-stripe-shade {
  width: 17px;
  height: 15px;
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 2px, transparent 17px); }
  .cerner-icon .cerner-icon-stripe-shade:after {
    position: absolute;
    background: linear-gradient(to right, transparent 15px, #d6de27 40px, #d6de27 40px, transparent 80px); }

/*# sourceMappingURL=cerner.css.map */
