// cerner_2^5_2018

.letter-e {
    @include size(48px,70px);
    position:relative;
    left:3px;
    background: radial-gradient(circle at bottom, transparent 12px, $cerner_blue 12px,$cerner_blue 24px,transparent 1px), linear-gradient(to bottom,transparent 30px,transparent 60px, $cerner_blue 60px,$cerner_blue 70px);
    background-position:0px -22px,-2px -14px;
    &:before {
        top:-25px;
        left:-52px;
        @include size(90px, 90px);
        background: radial-gradient(circle at 82px 48px, transparent 12px, $cerner_blue 12px,$cerner_blue 24px,transparent 1px);
        transform: rotate(31deg);
        -webkit-transform: rotate(31deg);
        margin-top:7px;
    }
    &:after {
        top:70px;
        left:18px;
        border-style: solid;
        border-width: 11px 0px;
        border-color: transparent;
        border-top-color:$cerner_blue;
        width:18px;
        margin-top:-9px;
        -webkit-transform: skewX(-30deg);
        transform: skewX(-30deg);
    }
}